{% set url = path('victoire_core_page_show_by_id', {'viewId': item.template.id, 'entityId': item.id }) %}

<tr>
    <th>
        <div>
            <span>
                {{ item.publishedAt ? item.publishedAt|date("d/m/Y") : '--' }}
            </span>
        </div>
    </th>
    <td>
        <a href="{{ url }}">
            {{ item.name }}
        </a>
    </td>
</tr>
