{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
{# Do not display content when no article to display #}
{% if items|length or is_granted('ROLE_VICTOIRE') %}
	<div class="blog-head-home-container">
        <h2><a href="{{ widget.globalLinkUrl }}">{{ widget.globalLinkTitle }}<small>{{ widget.globalLinkLabel }}</a></small></h2>
    </div>

    {% if items|length %}
    <div class="lionbars" style="height:180px;overflow: auto;margin-bottom: 30px;">
        <table class="articlelist table-dl-horizontal">
            {% for key, item in items %}
                  {% include "VictoireWidgetArticleListBundle::showItem.html.twig" with { item: item} %}
            {% endfor %}
        </table>
    </div>
    <script>
      $(function(){
        initLionbars('#homepage-articlelist');
      });
    </script>
    {% else %}
    <p>{{ 'widget.articlelist.empty'|trans({}, 'victoire') }}</p>
    {% endif %}
{% endif %}
{% endblock content %}
