<tr>
    <th>
        <div>
            <span>
                {{ item.publishedAt ? item.publishedAt|date("d/m/Y") : '--' }}
            </span>
        </div>
    </th>
    <td>
        <a href="{{ vic_business_link(item) }}">
            {{ item.name }}
        </a>
    </td>
</tr>
